/* ############ Common ############ */
html {
	overflow-y: scroll;
}

body {
	max-width: 90em;
	margin: auto;
	background: #26547C;
	font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
	text-decoration: none;
	font-weight: bold;
}


#option {
	color: #ffcf60;
}

#supprimer {
	color: #fe4a49;
}

#option:hover {
	color: white;
	background: #ffcf60;
	border-radius: 10px;
	padding: 10px 0;
}

#supprimer:hover {
	color: white;
	background: #fe4a49;
	border-radius: 10px;
	padding: 10px 0;
}

.feedback {
    color: white;
    width: 600px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
	background: #499F68;
    border: solid 2px #499F68;
    border-radius: 10px;
	padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.errors {
    color: red;
    font-weight: bold;
    font-size: 18px;
}


/* ############ Header ############ */
.menu ul {
	list-style: none;
	margin: 2em 10em;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.menu ul li a {
	padding: 15px 50px;
    color: #ffcf60;
	transition: 0.5s;
	border-radius: 10px;
	text-transform: uppercase;
}

.menu ul li a:hover {
	color: #26547C;
	background : #ffcf60;
}

/* .menu ul li #signIn {
    justify-self: flex-end;
} */


/* ############ Main ############ */
main {
	max-width: 90em;
    min-height: 520px;
	margin-bottom: 40px;
	padding: 10px;
	border-radius: 10px;
}

main h1 {
	width: 10em;
	margin: 30px auto;
	padding: 10px;
	color: #333;
	text-align: center;
	background: #ffcf60;
	border-radius: 10px;
}


/* ############ Home Page ############ */
.homeSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.homeSection a {
    width: 250px;
    margin: 20px;
    padding: 10px;
	background: #ffcf60;
    border: 2px solid #ffcf60;
    border-radius: 10%;
    transition: 0.5s;
    justify-self: center;
}

.homeSection a:hover {
	background: #fe4a49;
	border: 2px solid #fe4a49;
	/* 499f68 vert */
}

.homeSection h3 {
	color: #26547C;
	margin: 0;
	margin-bottom: 5px;
}

.homeSection img {
	max-width: 200px;
	max-height: 300px;
	border-radius: 10%;
}


/* ############ Upload Page ############ */
.uploadPageSection {
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
}

.uploadPageSection #dropFileForm {
	text-align: center;
}

.uploadPageSection .fileHover {
  box-shadow: 0 0 10em #fe4a49;
}

.uploadPageSection #dropFileDiv {
	width: 750px;
    height: 350px;
    background: #ffcf60;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: 0.6s;
    margin-bottom: 30px;
}

.uploadPageSection #dropFileDiv input[type='file'] {
    display: none;
}

.uploadPageSection #dropFileDiv label {
    cursor: pointer;
    padding: 16px;
    align-self: center;
    border: 2px solid white;
    border-radius: 10px;
    color: #26547C;
    font-size: 20px;
    font-weight: bold;
    transition: 0.6s;
}

.uploadPageSection #dropFileDiv label:hover{
    background: #499F68;
    border: 2px solid #499F68;
}




/* ############ Details Page ############ */
.detailsPageSection {

}

.detailsPageSection #option {
	font-size: 25px;
	border: 2px solid #fe4a49;
	border-radius: 10px;
	background: #fe4a49;
}

.detailsPageSection img {

}

.detailsPageSection ul {

}



/* ############ List Page ############ */
.listPageSection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.listPageSection .elem {
	margin: 10px;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	border: 2px solid #1A3651;
	border-radius: 10px;
}

.listPageSection .elem a {
	color: white;
	padding: 10px 0;
	align-self: center;
	transition: 0.5s;
}


/* ############ Modification Page ############ */
.modificationPageSection {

}

/* ############ Suppression Page ############ */
.suppressionPageSection h3 {
	font-size: 20px;
	margin-top: 50px;
}

.suppressionPageSection div {
	height: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.suppressionPageSection a {
	width: 200px;
	font-size: 20px;
	text-align: center;
	transition: 0.3s;
}

.suppressionPageSection div #option {
	margin: auto;
}

.suppressionPageSection div #supprimer {
	margin: auto;
}


/* ############ Connexion ############ */
.box {
	margin-top: 70px;
    text-align: center;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
	font-weight: bold;
	margin: 15px auto;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
	border: 3px solid #fe4a49;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #499F68;
}

.box button[type = "submit"], #uploadButton {
    border: 0;
    background: none;
    display: block;
    text-align: center;
	font-weight: bold;
	margin: 20px auto;
    padding: 14px 40px;
    outline: none;
    color: #ffcf60;
	border: 3px solid #499F68;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.box button[type = "submit"]:hover, #uploadButton:hover{
	color: #26547C;
    background: #499F68;
}

::placeholder {
  color: #ffcf60;
  font-size: 1em;
}



/* ############ Footer ############ */
footer {
	margin-bottom: 0;
	width: 100%;
	color: white;
    background: #555;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
