/* ############ Commun ############ */
html {
	overflow-y: scroll;
}

body {
	max-width: 90em;
	margin: auto;
	background: #26547C;
	font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
	text-decoration: none;
	font-weight: bold;
}


/* ############ Header ############ */
.menu ul {
	list-style: none;
	margin: 2em 10em;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.menu ul li a {
	padding: 15px 50px;
    color: #ffcf60;
	transition: 0.5s;
	border-radius: 10px;
	text-transform: uppercase;
}

.menu ul li a:hover {
	color: #26547C;
	background : #ffcf60;
}

/* .menu ul li #signIn {
    justify-self: flex-end;
} */


/* ############ Main ############ */
main {
	max-width: 90em;
    min-height: 520px;
	margin-bottom: 40px;
	padding: 10px;
	border-radius: 10px;
}

main h1 {
	width: 10em;
	margin: 30px auto;
	padding: 10px;
	color: #333;
	text-align: center;
	background: #ffcf60;
	border-radius: 10px;
}


/* ############ Page d'acceuil ############ */
.homeSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.homeSection a {
    width: 250px;
    margin: 20px;
    padding: 10px;
	background: #ffcf60;
    border: 2px solid #ffcf60;
    border-radius: 10%;
    transition: 0.5s;
    justify-self: center;
}

.homeSection a:hover {
	background: #fe4a49;
	border: 2px solid #fe4a49;
	/* 499f68 vert */
}

.homeSection h3 {
	color: #26547C;
	margin: 0;
	margin-bottom: 5px;
}

.homeSection img {
	max-width: 200px;
	max-height: 300px;
	border-radius: 10%;
}


/* ############ Upload Page ############ */
.uploadPageSection {

}



/* ############ Page de details file ############ */
.detailsPageSection {

}


/* ############ Page de list ############ */
.listPageSection {

}


/* ############ Page de modification ############ */
.modifictionPageSection {

}


/* ############ Page de Connexion ############ */
.connexionPageSection {

}

.box {
	margin-top: 70px;
    text-align: center;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
	font-weight: bold;
	margin: 15px auto;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
	border: 3px solid #fe4a49;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #499F68;
}

.box button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
	font-weight: bold;
	margin: 20px auto;
    padding: 14px 40px;
    outline: none;
    color: #ffcf60;
	border: 3px solid #499F68;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button[type = "submit"]:hover{
	color: #fe4a49;
    background: #499F68;
}

::placeholder {
  color: #ffcf60;
  font-size: 1em;
}



/* ############ Footer ############ */
footer {
	margin-bottom: 0;
	width: 100%;
	color: white;
    background: #555;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}




/* --- Bouton Option --- */
/* .option {
    color: white;
    border: 1px solid #571845;
    border-radius: 5px;
    background: #571845;
    padding: 10px;
    margin-right: 20px;
} */


/* --- FeedBack --- */
.feedback {
    color: white;
    width: 600px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: solid 2px green;
    border-radius: 10px;
    background: green;
    margin-left: auto;
    margin-right: auto;
}


/* --- Erreur --- */
.errors {
    color: red;
    font-weight: bold;
    font-size: 18px;
}
